@font-face {
  font-family: 'Play-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Play-Regular'),
    url('../fonts/Play-Regular.woff') format('woff'),
    url('../fonts/Play-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Play-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('Play-Bold'),
    url('../fonts/Play-Bold.woff') format('woff'),
    url('../fonts/Play-Bold.woff2') format('woff2');
  font-display: swap;
}